{% extends "html/tpl.html" %}

{% block bg %} 
{% endblock %}

{% block menu %} 
{% endblock %}

{% block content %}
<section class="spotlight style1 color2 orient-left content-align-left image-position-center onscroll-content-fade-right onscroll-image-fade-in">
  <div class="content">
    <h1>{{ res.alpbrosGuiding }}</h1>
    <p>{{ res.about.text | safe }}</p>
    <ul class="actions vertical">
      <li><a href="{{ res.about.moreUrl }}" class="button icon fa-angle-down" anchor="middle">{{ res.about.more }}</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="{{ root }}img/banner-about.jpg" alt="{{ res.about.img }}" />
  </div>
</section>
{% endblock %}

{% block scripts %} 
<script type="text/javascript">
  // init app on document ready
  $(document).ready(function()
  {
    $(document.body).removeClass("is-loading");
  });
</script>
{% endblock %}

{% block footer %} 
{% endblock %}