#event.page
{
  // erlebniscard
  .erlebniscard-only {
    display: none;
  }
  &.erlebniscard {
    .erlebniscard-only {
      display: inherit;
    }
  }

  // registration
  .reg-only {
    display: none;
  }
  &.allow-reg {
    .reg-only {
      display: inherit;
    }
    .no-reg-only {
      display: none;
    }
  }

  .event-requirements-text {
    margin-bottom: 1rem;
  }
}