#event.page
{
  section {
    &.partner {
      padding-top: 1px;
    }

    &.hidden {
      display: none;
    }
  }

  // erlebniscard
  .erlebniscard-only {
    display: none;
  }
  &.erlebniscard {
    .erlebniscard-only {
      display: inherit;
    }
  }

  .event-price {
    white-space: nowrap;
  }
  @include breakpoint(minmedium) {
    .event-price {
      float: right;
    }
  }
}