{% extends "html/tpl.html" %}

{% block content %}
<!-- facebook sdk -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1619175208395744";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- stories -->
<section id="blog" class="page style1 color4 align-center">
  <div class="inner">
    <img class="svg logo" src="{{ root }}img/alpbrothers-full-multiline.svg">
    <div class="items style3 medium onscroll-fade-in">
    {% set arr=[1,2,3,4,5,6,7,8,9,10,11,12] %}
    {% for idx in arr %}
      <section class="story">
        <img src="{{ root }}img/gallery/thumbs/{{ idx }}.jpg" />
        <h3 class="name">Story #{{ idx }}</h3>
        <p class="date">15.09.2017</p>
      </section>
    {% endfor %}
    </div>
  </div>

  <!-- facebook comment -->
  <div class="fb-comments" data-href="https://www.facebook.com/alpbrothers/blog" data-numposts="5"></div>
</section>
{% endblock %}