<!-- events -->
<section id="events" class="wrapper style1 color2 align-center no-events-off">
  <div class="inner">
    <h2>{{ res.events.title }}</h2>
    <p class="no-event-info">
      <strong>{{ res.events.empty }}</strong>
    </p>
    <div class="table-wrapper">
      <table class="alt">
        <tbody>
          {% for event in res.events.list %}
            <tr class="event" date="{{ event.date.iso }}">
              <td>{{ event.date.txt }}</td>
              <td><a href="{{ root }}{{ event.url }}" target="_blank">{{ event.name }}</a></td>
              <td>{{ event.price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if res.events.showErlebnisCardInfo %}
      <sub>{{ res.events.erlebnisCardInfo | safe }}</sub>
    {% endif %}
    {% if res.events.showYouthDiscountInfo %}
      <sub>{{ res.events.youthDiscountInfo | safe }}</sub>
    {% endif %}
    <br /><br />

    <p>{{ res.events.furtherInfo | safe }}</p>
    <ul class="actions">
      <li><a href="{{ res.events.inquireUrl }}" class="button special icon fa-envelope">{{ res.events.inquire }}</a></li>
      <li><a href="{{ res.events.goUrl }}" class="button smooth-scroll icon fa-angle-down">{{ res.events.go }}</a></li>
    </ul>
  </div>
</section>