<!-- impressions -->
<section id="impressions" href="#/impressions" class="wrapper style1 color5 align-center">
  <!-- alpbros-quote -->
  <section class="spotlight quote style1 color1 invert content-align-center image-position-center onscroll-content-fade-right">
    <div class="content">
      <h3><i>{{ res.alpbrosQuote.text | safe }}</i></h3>
      <h4>{{ res.alpbrosQuote.author }}</h4>
    </div>
  </section>


  {% if client.use_instagram %}
  <!-- instagram widget -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe src="//lightwidget.com/widgets/a2d324a13abc5fe080f9f261c32c8598.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:90%;border:0;overflow:hidden;"></iframe>
  {% else %}
  <!-- gallery -->
  <div class="gallery style1 medium lightbox onload-content-fade-in">
    {% for keyword in res.impressions.keywords %}
      <article>
        <a href="{{ root }}img/gallery/fulls/{{ loop.index }}.jpg" class="image"><img src="{{ root }}img/gallery/thumbs/{{ loop.index }}.jpg" alt="{{ keyword }}" /></a>
        <div class="caption"><h3>{{ keyword }}</h3></div>
      </article>
    {% endfor %}
  </div>
  {% endif %}
</section>