<!-- einstein-quote -->
<section id="einstein-quote" class="spotlight quote style1 color5 invert content-align-center image-position-center onscroll-content-fade-right">
  <div class="content">
    <h3><i>{{ res.einstein.text }}</i></h3>
    <h4>{{ res.einstein.author }}</h4>
  </div>
</section>

<!-- offer -->
<section id="offer" href="#/offer" class="wrapper style1 color2 align-center">
  <div class="inner">
    <h2>{{ res.offer.title }}</h2>
    <div class="items style1 big onscroll-fade-in">
      {% for tkey, type in res.client.eventTypes %}
      {% if type.offer %}
      <section>
        <span class="icon style2 major {{ type.icon  }}"></span>
        <h3>{{ type.description }}</h3>
        <p>{{ res.offer.eventTypes[tkey] | safe }}</p>
      </section>
      {% endif %}
      {% endfor %}
    </div>
    <ul class="actions">
      <li><a href="{{ res.offer.goUrl }}" class="button icon fa-angle-down">{{ res.offer.go }}</a></li>
    </ul>
  </div>
</section>