.quote {
  .logo {
    height: 1.1rem;
    margin-bottom: 1rem;
  }
}

.vh33 {
  min-height: 33vh;
}

.vh50 {
  min-height: 50vh;
}

.vh75 {
  min-height: 75vh;
}

.vh100 {
  min-height: 100vh;
}

.no-pointer-events {
  pointer-events: none;
}

@mixin _hidelt($breakpoint) {
  @include breakpoint($breakpoint) {
    .hide-lt-#{$breakpoint}{
      display: none;
    }
  }
}

@include _hidelt(xlarge);
@include _hidelt(large);
@include _hidelt(medium);
@include _hidelt(small);
@include _hidelt(xsmall);
@include _hidelt(xxsmall);