#impressions
{
  #instawidget
  {
    border:0;
    overflow:hidden;
    width: 98%;
    @include breakpoint(minmedium) { width: 90%; }
    @include breakpoint(minlarge) { width: 85%; }
    @include breakpoint(minxlarge) { width: 80%; }
  }
}