#impressions
{
  .instagallery
  {
    width: 80%;
    margin: 0 10%;
    @include breakpoint(small) {
      width: 90%;
      margin: 0 5%;
    }
    @include breakpoint(xsmall) {
      width: 100%;
      margin: 0;
    }
  }
}