@mixin _partner($partner, $pngonly:false) {
  &.#{$partner} .inner a {
    background-image: url(../img/partner/#{$partner}.png);
    @if $pngonly != true {
      background-image: url(../img/partner/#{$partner}.svg);
    }
  }
}

section.partner {
  >.inner { 
    padding: 0.2rem 0;
  }
}

.items.partner {
  section {
    height: 8rem;
    @include breakpoint(xsmall) { height: 6rem; }

    @include _partner(anderwald);
    @include _partner(lakebike);
    @include _partner(regionvillach);
    @include _partner(fahrradcenter);
    @include _partner(grossegger);
    @include _partner(raika);
    @include _partner(ktn);
    @include _partner(r2bike);
    @include _partner(pogoeriacherhof, true);
    //@include _partner(ridecompany);
    @include _partner(samonigghof);
    @include _partner(elffotografie);

    .inner {
      width: 100%;
      height: 100%;
    }

    .inner a {
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}