#events {
  border-top: 1px solid #ccc;

  .no-event-info {
    display: none;
  }

  .table-wrapper {
    margin-bottom: 0px;
  }

  &.no-events {
    .table-wrapper {
      display: none;
    }
    .no-event-info {
      display: block;
    }
  }
}